@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    border-radius: 8px;
    background-image: url("ttps://1.bp.blogspot.com/-w-deObtSUTQ/YKvKJzdT2CI/AAAAAAAA0u4/fH2jYZlxOtw40T5Ph20LW0MPPtgn0xAQwCLcBGAsYHQ/s200/212121.png");
}

body {
    background-color: #212121;
}
